
.Container {
    display: flex;
    justify-content: center;
}

.LoginContainer {
    margin-top: 5%;
    border: #8b96ac solid 1px;
    border-radius: 4px;

    padding: 16px;
    width: 480px;
    height: 480px;
}
